{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    {% if msg %}
        <script>
            alert('Invalid Username or Password');
        </script>
    {% endif %}

    <div class="con-agile" style="min-height: 500px;">
        <div class="container">
            <h2>Login</h2>
            <style>
                h2 {
                    color: #00b743;
                    font: 1em sans-serifAileron;
                    padding: auto;
                    size: 25px;
                }
            </style>

            <div class="contact-form">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-6 form-left">
                        <input type="text" placeholder="Name" name="username" required="">
                        <!-- Add the icon code here -->
                        <i class="ri-user-line"></i>
                    </div>
                    <div class="col-md-6 form-left">
                        <input type="password" placeholder="Password" name="password" required="">
                    </div>
                    <div class="clearfix"></div>
                    <input type="submit" name="btnSubmit" value="SUBMIT">
                    <br>
                    <a href="/registration">New User?</a>
                </form>
            </div>
            <div id="grid"></div> <!-- Not sure what this is for, you may remove or modify accordingly -->
        </div>
    </div>
{% endblock %}
